<div class="Container">
    <div class="Banner">
    </div>
    <div class="Search">
      <h2>No Busques Más</h2>
      <form method="GET">
        <input type="text" placeholder="busca por zona..."/>
        <button>Search</button>
      </form>
    </div>
    <div class="Content">
     <div class="Results">
       <h2 class="Banda">{{encabezado}}</h2>
       <div class="Views">
         <div class="Inmueble" *ngFor="let i of inmuebles">
           <div class="img" style="background: url('{{i.img[0]}}');background-position:center; background-size: cover">
            <span *ngIf="rol==='CLIENT'">
              <span><p>{{i.favs}}</p></span>
              <i  (click)='addFavorite(i._id)' [class]="favoritos.includes(i._id)?'fas fa-heart':'far fa-heart'"></i>
            </span>
            <span *ngIf="rol!=='CLIENT'">
              <span><p>{{i.favs}}</p></span>
              <i  (click)='noLogin()' class="fas fa-heart"></i>
            </span>
          </div>
           <div class="desc">
             <h3 (click)="viewInmueble(i._id)" >{{i.type}}</h3>
             <p>{{i.sector}}</p>
             <p><b>{{i.city}}</b></p>
             <div class="icons">
              <p><i class="fas fa-layer-group"></i>{{i.attr.levels}}</p>
              <p><i class="fas fa-door-closed"></i>{{i.attr.rooms}}</p>
              <p><i class="fas fa-bath"></i>{{i.attr.baths}}</p>
              <p><i class="fas fa-car"></i>{{i.attr.garage}}</p>
             </div>
             <p class="price">{{i.price | currency:'COP':'symbol-narrow':'4.0-0'}}</p>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
  