@import '../../globals.scss';
.Container{
    width: 100vw;
    height: 85vh;
    background: $deg-blue-d;
    // background: url('../home/img/white-brick-wall.jpg');
    // background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    & .Chart{
        width: 60%;
        height: 90%;
        // background: #0004;
        // backdrop-filter: blur(.1rem);
        border-radius: .25rem;
        overflow-x: hidden;
        background: $deg-gray;
        box-shadow: $b-shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;

        & .Card{
            width: 70%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-radius: .25rem;
            background-color: $font-gray;
            box-shadow: $b-shadow;
            color: $white;
            padding: 0 2rem;

            & p{
                text-align: justify;
                line-height: 170%;
                
            }
        }

    }
}