<div class="Container">
    <div class="Chart">
        <div class="Card">
            <h1>Misión</h1>
            <p>Evaluar, facilitar y mediar un espacio, terreno y/o construcción con excelente calidad desempeño y satisfacción que concierne con las necesidades de nuestros clientes y usuarios.</p>
        </div>
        <div class="Card">
            <h1>Visión</h1>
            <p>Adquirir status a nivel regional y crecer como empresa a nivel nacional como  lideres en el sector inmobiliario, realizando alianzas estratégicas con empresas multinacionales.</p>
        </div>
    </div>
</div>
