@import './globals.scss';

nav{
    z-index: 1;
    position: sticky;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to right, #c5c5c5, #eef2f3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1.5rem #0005;
    & >*{
      display: flex;
      justify-content: space-around;
    }
    & ul{
      width: 45%;
      &  li{
        list-style: none;
        & a{
          text-decoration: none;
          color: #666;
          &:hover{
            // font-weight: bold;
            color:black;
          }
          &.Active{
            font-weight: bold;
          }
          & i {
            margin: 0 .5rem;
          }
        }
      }
    }
    & > div{
      width: 25%;
      font-size: 1.5rem;
      & a {
        text-decoration: none;
        color: black;
      }
    }
    & .logout{
      border:none;
      font-size: 1.5rem;
      color: #666;
      cursor: pointer;
      &:hover{
        // font-weight: bold;
        color:black;
      }
    }
  }
  
  footer{
    // position: absolute;
    // bottom: 0;
    background: linear-gradient(to right, #c5c5c5, #eef2f3);
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1.5rem #0002;
  }
  